<form method="post" action="{{ path('app_blag_delete', {'id': blag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blag.id) }}">
    <button class="btn">Delete</button>
</form>
