{% extends 'base.html.twig' %}

{% block title %}New Blag{% endblock %}

{% block body %}
    <h1>Create new Blag</h1>

    {{ include('blag/_form.html.twig') }}

    <a href="{{ path('app_blag_index') }}">back to list</a>
{% endblock %}
